@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --background-color: #2a2a2a;
  --primary-color: #ff00ff;
  --secondary-color: #00bfff;
  --hover-primary-color: #ff69b4;
  --hover-secondary-color: #1e90ff;
  --text-color: #ffffff;
  --hover-text-color: #2a2a2a;
  --button-padding: 10px 20px;
  --font-size: 16px;
  --transition-duration: 0.5s;
  --transition-hover-duration: 0.5s;
  --gap: 20px;
}

* {
  background-color: black;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}